.cache
.vim
*.log
transcript
.clang*
*.exe
site
*.json
*.cpp
*.o
*.d
*.a
*.so
*.moc
.cache
.qt
.qmake*
*.h
*.vcd
*.out
*.html
*.dot
*.png
*.jpg
*.cmd.*
*.log.*
build
!docs/cpp_project_example/*.cpp
!docs/cpp_project_example/*.h
docs/cpp_project_example/moc*.cpp
docs/cpp_project_example/moc*.h
!docs/Qt6_study/*.cpp
!docs/Qt6_study/*.h
docs/Qt6_study/moc*.cpp
docs/Qt6_study/moc*.h
!docs/performance_comparison_between_gcc_and_clang/*.cpp
!docs/performance_comparison_between_gcc_and_clang/*.h
docs/performance_comparison_between_gcc_and_clang/moc*.cpp
docs/performance_comparison_between_gcc_and_clang/moc*.h
.vimspector
*.vec
*.cfg
*.info.dict
transcript
*.po.name
work
*.wlf
.vscode
